# dependencies
node_modules/

# build outputs
dist/
coverage/
*.tsbuildinfo

# env files
.env
.env.local
.env.development
.env.production
.env.test

# uploads runtime
public/uploads/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
